.html{
    background-color:  gray;
    border-width: 3;
    border-color: aqua;
    text-align: center;
}

.h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 

.h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
